html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.container {
  width: 100vh;
  max-width: 100vh;
  align-content: center;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom-width: 2px;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-style: solid;
  padding-left: 5vw;
  padding-right: 5vw;
  flex: 0 0 100%;
}

.centeredText {
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;
}

.buttonBook {
  width: 100%;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  word-break: break-all;
}

.textInput {
  text-align: center;
  width: 100%;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.textInput input {
  width: 90%;
}

.bars {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  overflow: auto;
}

.progressDiv progress {
  background-color: rgb(228, 11, 11);
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
  width: 40%;
  height: 1em;
}

.progressDiv2 progress {
  position: relative;
}

.dates {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  overflow: auto;
  flex-wrap: wrap;
  column-gap: 0.5em;
}

.barnum {
  word-break: normal;
}

.barContainer {
  width: 40%;
  height: 1em;
  border: 1px solid black;
  background-color: blue;
}

.barContainer .bar1 {
  height: 50%;
  background-color: darkkhaki;
}

.barContainer .bar2 {
  height: 50%;
  background-color: aqua;
}